.rate-us-page {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
    padding-top: 6rem;
  }
  
  .rate-us-container {
    padding: 30px;
    border-radius: 10px;
    height:max-content;
    /* background-color: #262626; Darker container background */
    /* transition: border-color 0.3s ease, box-shadow 0.3s ease; Transition for border-color and box-shadow */
  }
  
  .rate-us-container:hover {
    border-color: #d9d1d1; /* Border color changes on hover */
    box-shadow: 0 0 40px rgba(184, 179, 179, 0.082); /*Lighting effect on hover*/
  }
  
  .star-rating {
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: center;
  }
  
  .star {
    font-size: 28px;
    color: #f2f2f2; /* Light gray star color */
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .star:hover,
  .star.filled  {
    color: #ffc107; /* Yellow star color on hover/selection */
  }

  .feedback-textarea {
    width: 100%;
    height: 180px;
    padding: 10px;
    border: 1px solid #444; /* Dark border */
    border-radius: 5px;
    resize: none;
    /* background-color: #d4cfcf; Darker textarea background */
    /* color: #f2f2f2; Light gray text color */
    /* margin-bottom: 20px; */
  }
  
  .feedback-textarea::placeholder {
    color: #888; /* Placeholder text color */
  }
  .feedback-textarea:focus,
  .feedback-textarea:valid {
    outline: none;
    border: 1.5px solid #fff;
  }

  
  .feedback-textarea {
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .feedback-textarea:focus {
    border-color: #F7DC6F; /* glowing yellow */
    box-shadow: 0 0 0 2px #F7DC6F;
  }
  
  .feedback-textarea::placeholder {
    transition: transform 0.2s ease-in-out;
    pointer-events: none; /* to prevent placeholder from being clickable */
    z-index: 1; /* to ensure the placeholder is above the border */
  }
  
  .feedback-textarea:focus::placeholder {
    transform: translateY(-16px); /* move placeholder up to the border */
    font-size: 12px; /* adjust font size to fit the border */
    color: #F7DC6F; /* match the glowing yellow color */
  }

  

  
